In [1]:
# Importing the required libraries
library(tidyverse)
library(tidyverse)
library(rvest)
library(tidytext)
library(dplyr)
library(polite) 
library(magrittr) # better handling of pipes
library(purrr) # to work with lists and map functionsmusic_text
library(glue) # to paste strings
library(stringr) # to hand strings

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.1
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Loading required package: xml2


Attaching package: ‘rvest’


The following object is masked from ‘package:purrr’:

    pluck


The following object is masked from ‘package:readr’:

    guess_encoding



Attaching package: ‘magrittr’


The following object is masked from ‘package:purrr’:

    set_names


The following object is masked from ‘package:tidyr’:

    extract



Attaching package: ‘glue’


The following object is masked from ‘package:dplyr’:

    collapse

In [81]:
#Url to get the top 100 movies of all time
#url_base <-"https://www.rottentomatoes.com/top/bestofrt/"
#page_html <- read_html(url_base)

# URL to get the stats for the year 2019
url_string = "https://www.rottentomatoes.com/top/bestofrt/"
page_html <- read_html(url_string)

In [84]:
# Extracting rating - .tMeterScore
movie_rating <- page_html %>%
   html_nodes(".tMeterScore")  %>% html_text()
#head(movie_rating)

In [85]:
movie_rating<- movie_rating[27:126]
movie_rating <- str_trim(gsub("%",0,movie_rating))
movie_rating <- tibble(movie_rating = str_trim(gsub("[\r\n\t]","",movie_rating)))
movie_rating$movie_rating <- as.numeric(as.character(movie_rating$movie_rating))
movie_rating$movie_rating <- round(movie_rating$movie_rating/100,2)
head(movie_rating,5)

  movie_rating
1  9.8
2  9.9
3  9.7
4 10.0
5  9.6

In [86]:
nrow(movie_rating)

[1] 100

In [88]:
# Extracting movie title - .table a
movie_title <- page_html %>%
   html_nodes(".table a")  %>% html_text()

In [90]:
# extraction of Movie Name
mov_name <- str_trim(gsub("[\r\n\t]","",movie_title))
mov_name <- gsub('.{6}$', '', mov_name)
movie_name <- tibble(Movie_names = mov_name)
head(movie_name)

  Movie_names
1 Black Panther
2 Avengers: Endgame
3 Us
4 Toy Story 4
5 The Wizard of Oz
6 Lady Bird

In [91]:
mov_year  <- str_sub(movie_title_year,-5,-2)
mov_year <- tibble(Year = mov_year)
head(mov_year)

  Year
1 2018
2 2019
3 2019
4 2019
5 1939
6 2017

In [77]:
# Extracting the number of reviews
number_of_reviews <- page_html %>%
   html_nodes(".table td:nth-child(4)") %>% html_text()

In [93]:
nrow(movie_name)
nrow(mov_year)
nrow(number_of_revie
     ws)
nrow(movie_rating)

[1] 100

[1] 100

NULL

[1] 100

In [103]:
#number_of_reviews <- tibble(number_of_reviews = number_of_reviews)
#head(number_of_reviews,5)
rt_data <- NULL
rt_data <- movie_name %>% add_column(Year =mov_year$Year,rt_rating=movie_rating$movie_rating)

In [105]:
head(rt_data)

  Movie_names        Year rt_rating
1 Black Panther      2018  9.8
2 Avengers: Endgame  2019  9.9
3 Us                 2019  9.7
4 Toy Story 4        2019 10.0
5 The Wizard of Oz   1939  9.6
6 Lady Bird          2017  9.6

In [107]:
#Stroing data into CSV file
getwd()  # getting current working directory
filepath_rotten_tomatoes <- paste(getwd(),'//softscraped/rotten_tomatoes_data.csv',sep='')  # creating file path using 'paste' function with seprator a whitespace
write.csv(rt_data,filepath_rotten_tomatoes, row.names = TRUE)

[1] "/home/prasoons/project"